<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>My Orders</title>
</head>
<body>
<div align="right">
<a th:href = "@{/login/logout}" >Logout</a>
</div>
<div align="center">

<a th:href = "@{/login/manageCart}" >Manage My Cart</a>
<a th:href = "@{/login/myOrders}" >My Orders</a>
</div>
<div align="center">
<h1>My Orders</h1>
<p style="color:red">
<h3  th:text="${message}"></h3>
</p>

<table border="1" >
<tr>
<td style="vertical-align:top">
<div align="center" >


<h2>My Orders List</h2>
<!-- <a th:href = "@{/login/showNewProductForm}" >Add Product</a> -->
<table border="1">
	<thead><tr><th>Order No</th><th>Order Time Stamp</th> </tr></thead>
	<tbody>
	
	<tr th:each= "listItem : ${listofOrderIds}">
 <td>
 <a th:text= "${listItem.orderNo}"  th:href = "@{/login/getOrderDetails/{id}(id=${listItem.orderNo})}" ></a>
 </td>
 <td th:text= "${listItem.timeStamp}" ></td>
  
  
 </tr>
	</tbody>
	</table>

</div>
</td>
<td style="vertical-align:top">
<div align="center">
<h2>Details for Order No:<b th:text="${OrderNo}" ></b></h2>

<table border="1">
	<thead><tr><th>Product Category</th><th>Product Name</th><th>MRP</th> </tr></thead>
	<tbody>
	
	<tr th:each= "listItem,iterator : ${listOrderProducts}">
 <td th:text= "${listItem.productcategory}" ></td>
 <td th:text= "${listItem.productName}" ></td>
 <td th:text= "${listItem.mrp}" ></td> 
 <!-- <td>
 <a th:href = "@{/login/deleteProduct/{id}(id=${listItem.id})}" >Delete</a>
 </td> -->
 </tr>
 <tr><td colspan="2"><b>Total</b></td>
 	 <td><b th:text="${#aggregates.sum(listOrderProducts.![mrp])}" ></b></td>
 </tr>
 
	</tbody>
	</table>

	

</div>	
	

</td>
</tr>
</table>
</div>


</body>
</html>